@charset "UTF-8";

/* *******************************************************
 * 파일이름 : main.css
 * 설명 : 메인 css
 * 업데이트 : 2023-08-16
 ******************************************************** */

@mixin table-layout($borderColor: null, $fontColor: null, $mgTop: null) {
  width: 100%;
  border-top: 1px solid $borderColor;
  color: $fontColor;
  margin-top: $mgTop;
}

@mixin table-th(
  $borderColor: null,
  $padding: null,
  $fontSize: null,
  $background: null
) {
  border-bottom: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  padding: $padding;
  font-size: $fontSize;
  background: $background;
  vertical-align: middle;
  font-weight: 400;
}
@mixin table-td(
  $borderColor: null,
  $padding: null,
  $fontSize: null,
  $background: null
) {
  padding: $padding;
  font-size: $fontSize;
  background: $background;
  border-bottom: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  vertical-align: middle;
  line-height: 1.2;
}

@mixin button(
  $padding: null,
  $background: null,
  $color: null,
  $fontSize: null
) {
  padding: $padding;
  background: $background;
  color: $color;
  font-size: $fontSize;
}

/* ****************** 공통CSS  ********************** */

@import url(../css/common/layout.css);
@import url(../css/common/fonts.css);
@import url(../css/common/reset.css);

.mobile-view {
  display: none !important;
}
.web-view {
  display: block !important;
}

/* ****************** Main 시작  ********************** */
.main-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.m-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5vh 0;
  padding: calc(var(--vh, 1vh) * 5) 0;
}

.shortcut-btn {
  position: fixed;
  bottom: 30%;
  top: auto;
  right: 0;
  z-index: 1000;
}

/* ***** header  ***** */
.header-fixed .header {
  background: var(--mainColor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background: transparent;

  .title {
    width: 100%;
    height: 80px;
    font-size: 1.8rem;
    color: white;
    justify-content: start;
    align-items: center;
    h1 {
      display: block;
      margin-left: 3vw;
    }
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 60px;
  }
  .header .title {
    height: 60px;
  }
}

.top-banner {
  position: relative;
  width: 100%;
  height: 100%;
  .page-num {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1000;
  }

  .banner {
    position: relative;
    width: 100%;
    height: 100%;
    .item {
      position: relative;
      width: 100%;
      height: calc(var(--vh, 1vh) * 46);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .txt-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: var(--area-1240-width);
        p {
          font-family: "recipe", sans-serif;
          color: #fff;
          line-height: 1.3;
          font-size: 5rem;
          word-break: keep-all;
          text-shadow: 1px 1px 2px var(--grayColor);
        }
        span.sub-txt {
          font-size: 2rem;
          display: block;
          margin-top: 10px;
          color: var(--blackColor);

          i {
            display: inline-block;
            margin-right: 20px;
            font-size: 1.5rem;
            width: 10px;
          }
        }
      }
    }
    /* 사이드 버튼 */
    .slick-arrow {
      position: absolute;
      top: auto;
      bottom: 3vh;
      bottom: calc(var(--vh, 1vh) * 3);
      display: block;
      z-index: 50;
      font-size: 1.6rem;
      background: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
      i {
        color: #818181;
      }
      &:hover {
        i {
          color: var(--blackColor);
        }
      }
    }

    .slick-prev {
      right: 19.8vw;
      left: auto;
      border-top-left-radius: 45%;
      border-bottom-left-radius: 45%;
    }
    .slick-next {
      left: auto;
      right: 17vw;
      border-top-right-radius: 45%;
      border-bottom-right-radius: 45%;
    }

    /* 페이지버튼 */
    .slick-dots {
      position: absolute;
      top: auto;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: var(--area-1240-width);
      li {
        button {
          display: block;
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 50%;
          margin-right: 10px;
          color: transparent;
        }
        display: inline-block;
      }
      li.slick-active {
        button {
          background: #ffc000;
        }
      }
    }
  }
}

.main-sub-tit {
  margin: 0 0 30px;
  font-size: 2rem;
  font-family: "recipe", sans-serif;
  text-align: center;
}

.program-list {
  width: 100%;
  max-width: var(--area-1240-width);
  margin: 0 auto;
  .slick-list {
    margin: 0 -20px;
  }
  .slick-slide {
    margin: 0 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    cursor: pointer;
    .txt-box {
      padding: 1rem;
      .b-tit {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 10px;
        text-indent: 5px;
      }
      .s-tit {
        font-size: 1.6rem;
        line-height: 1.5;
        i {
          display: inline-block;
          width: 20px;
          font-size: 1.5rem;
          text-align: center;
          padding-right: 10px;
          color: #818181;
        }
      }
    }
  }
  /* 사이드 버튼 */
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 50;
    font-size: 1.6rem;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    i {
      color: #818181;
    }
    &:hover {
      i {
        color: var(--blackColor);
      }
    }
  }
  .slick-prev {
    left: -8%;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
  }

  .slick-next {
    right: -8%;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
  }
}

/* ****************** 반응형 시작  ********************** */
// @media (prefers-reduced-motion: reduce) {
//   html {
//     scroll-behavior: smooth;
//   }
// }
// /* Wide Screen Desktop (해상도 1440px) */
// @media screen and (max-width: 1440px) {
//   .top-banner .banner .item .txt-box {
//     width: 70%;
//   }
//   .top-banner .banner .slick-dots {
//     width: 70%;
//   }
//   .top-banner .banner .slick-prev {
//     right: 20.6vw;
//   }
//   .program-list {
//     width: 70vw;
//   }
// }
// /* Desktop (해상도 1280px) */
// @media screen and (max-width: 1280px) {
//   .top-banner .banner .slick-prev {
//     right: 21vw;
//   }
//   .top-banner .banner .item .txt-box {
//     left: 10vw;
//     transform: translate(5%, -50%);
//   }

//   .top-banner .banner .slick-dots {
//     left: 10vw;
//     transform: translate(5%, -50%);
//     width: 70%;
//   }
//   .top-banner .banner .item .txt-box p {
//     font-size: 3.5rem;
//   }
// }
// /* PC (해상도 800px ~ 1024px)*/
// @media screen and (max-width: 1024px) {
//   .top-banner .banner .slick-prev {
//     right: 22vw;
//   }
// }
// /* 태블릿, 모바일 가로 (해상도 768px ~ 830px)*/
// @media screen and (max-width: 830px) {
//   .mobile-view {
//     display: block !important;
//   }
//   .web-view {
//     display: none !important;
//   }
//   .top-banner .banner .slick-prev {
//     right: 23vw;
//   }

//   .program-list .slick-prev {
//     left: -8vw;
//   }
//   .program-list .slick-next {
//     right: -8vw;
//   }
// }
// /* 테블릿 세로 (해상도 600px ~ 767px)*/
// @media screen and (max-width: 767px) {
//   .top-banner .banner .slick-dots {
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: auto;
//   }
//   .top-banner .banner .slick-prev {
//     right: 23.5vw;
//   }
//   .program-list .item {
//     margin-bottom: 3vh;
//     margin-bottom: calc(var(--vh, 1vh) * 3);
//   }

//   .top-banner .banner .slick-arrow,
//   .program-list .slick-arrow {
//     display: none !important;
//   }
// }
// /* 모바일 가로, 모바일 세로 (해상도 320px ~ 480px)*/
// @media screen and (max-width: 480px) {
//   .shortcut-btn {
//     bottom: 5%;
//   }
//   .m-container {
//     padding: 4vh 0;
//     padding: calc(var(--vh, 1vh) * 4) 0;
//   }
//   .top-banner .banner .slick-prev {
//     right: 16.5vw;
//   }
//   .top-banner .banner .slick-next {
//     right: 6vw;
//   }
//   .top-banner .banner .item .txt-box p {
//     font-size: 2.5rem;
//   }
//   .top-banner .banner .item .txt-box span.sub-txt {
//     font-size: 1.5rem;
//   }

//   .top-banner .banner .item .txt-box .btn-box {
//     justify-content: center;
//   }
//   .top-banner .banner .item .txt-box .btn-box .s-btn.join {
//     background: var(--mainColor);
//   }
// }
// /* 아이폰(해상도 375px 이하)*/
// @media screen and (max-width: 375px) {
//   .top-banner .banner .slick-prev {
//     right: 19.5vw;
//   }
//   .top-banner .banner .item .txt-box {
//     left: 5vw;
//     transform: translate(5%, -50%);
//     width: 80%;
//   }
// }
// /* 갤럭시 fold(해상도 280px 이하)*/
// @media screen and (max-width: 320px) {
//   .top-banner .banner .item .txt-box {
//     padding: 2vh 3vw;
//   }
//   .top-banner .banner .item .txt-box p {
//     font-size: 2rem;
//   }
//   .top-banner .banner .slick-prev {
//     right: 21.5vw;
//   }
// }
