@charset "UTF-8";
/* *******************************************************
 * 파일이름 : main.css
 * 설명 : 메인 css
 * 업데이트 : 2023-10-30
 ******************************************************** */
/* ****************** 공통CSS  ********************** */
@import url(../css/common/layout.css);
@import url(../css/common/fonts.css);
@import url(../css/common/reset.css);
.mobile-view {
  display: none !important;
}

.web-view {
  display: block !important;
}

/* ****************** Main 시작  ********************** */
.main-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.m-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
.m-container::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: -5%;
  background-image: url(../images/main/vector_4.png);
  background-position: 100% 100%;
  width: 233px;
  height: 232px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  animation: rotate 35s linear infinite;
}
.m-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/main/vector_5.png);
  background-position: 100% 100%;
  width: 55vw;
  height: 48vh;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.m-container > article {
  width: 100%;
}

@keyframes top-fix {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* ***** top-banner  ***** */
.top-banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.top-banner .page-num {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 99;
}
.top-banner .banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.top-banner .banner .item {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 46);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.top-banner .banner .item .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--area-1240-width);
  z-index: 10;
}
.top-banner .banner .item .txt-box p {
  font-family: "Recipekorea", sans-serif;
  color: #fff;
  line-height: 1.3;
  word-break: keep-all;
  text-shadow: 1px 1px 2px var(--grayColor);
  font-size: var(--fz-40);
}
.top-banner .banner .item .txt-box span.sub-txt {
  display: block;
  margin-top: 10px;
  color: #fff;
}
.top-banner .banner .item .txt-box span.sub-txt i {
  display: inline-block;
  margin-right: 20px;
  width: 10px;
}
.top-banner .banner .slick-arrow {
  position: absolute;
  top: auto;
  bottom: 3vh;
  bottom: calc(var(--vh, 1vh) * 3);
  display: block;
  z-index: 99;
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.top-banner .banner .slick-arrow i {
  color: #818181;
}
.top-banner .banner .slick-arrow:hover i {
  color: var(--blackColor);
}
.top-banner .banner .slick-prev {
  right: 26%;
  left: auto;
}
.top-banner .banner .slick-next {
  left: auto;
  right: calc(26% - 50px);
}
.top-banner .banner .slick-dots {
  position: absolute;
  top: auto;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--area-1240-width);
}
.top-banner .banner .slick-dots li {
  display: inline-block;
}
.top-banner .banner .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
  color: transparent;
}
.top-banner .banner .slick-dots li.slick-active button {
  background: #ffc000;
}
/* ***** m-container  ***** */
.main-tit-box {
  align-items: center;
  justify-content: center;
}
.main-tit-box .en-tit {
  color: #2475bf;
  font-weight: 500;
  font-size: var(--fz-18);
  display: inline-block;
  margin-bottom: 1.5rem;
  letter-spacing: -0.5px;
}
.main-tit-box .main-sub-tit {
  font-family: "Recipekorea", sans-serif;
  text-align: center;
  font-size: var(--fz-35);
  color: #272136;
}

.main_row_0 {
  position: relative;
  max-width: var(--area-1240-width);
  margin: 0 auto;
  padding: 7vh 0 0;
  padding: calc(var(--vh, 1vh) * 7) 0 0;
}
.main_row_0::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -300px;
  background-image: url(../images/main/vector_0.png);
  background-position: 100% 100%;
  width: 195px;
  height: 274px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  animation: front 10s linear infinite;
}
.main_row_0 .p-slide-box {
  position: relative;
  width: 100%;
  margin: 5vh 0;
  margin: 50px 0 calc(var(--vh, 1vh) * 5);
}

.main_row_0 .program-list {
  position: relative;
  width: 100%;
}
.main_row_0 .program-list .slick-list {
  margin: 0 -10px;
}

.main_row_0 .program-list .slick-slide {
  margin: 0 10px;
}
.main_row_0 .program-list .item {
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}
.main_row_0 .program-list .img-box {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_row_0 .program-list .img-box::after {
  content: "";
  display: block;
  padding-top: calc(3 / 3 * 100%);
}

.main_row_0 .program-list .item .txt-box {
  padding: 1.5rem 1rem;
}
.main_row_0 .program-list .item .txt-box .state {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--fz-14);
}
.main_row_0 .program-list .item .txt-box .state.wait {
  background-color: #a7a7a7;
}
.main_row_0 .program-list .item .txt-box .state.ing {
  background-color: #3bbcad;
}
.main_row_0 .program-list .item .txt-box .state.end {
  background-color: #4b4855;
}
.main_row_0 .program-list .item .txt-box .b-tit {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  text-indent: 5px;
  color: #4b4855;
}
.main_row_0 .program-list .item .txt-box .s-tit {
  font-size: 15px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #747474;
}
.main_row_0 .program-list .item .txt-box .s-tit i {
  display: inline-block;
  width: 20px;
  font-size: 1.5rem;
  text-align: center;
  padding-right: 10px;
  color: #747474c2;
}
.main_row_0 .play-btn {
  position: absolute;
  top: -45px;
  right: 43px;
  display: block;
  font-size: 1.6rem;
  background: #fff;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  color: #818181;
  border: 1px solid #d7d7d7;
}
.main_row_0 .play-btn:hover i {
  color: var(--mainColor);
}
.main_row_0 .play-btn i.fa-pause {
  margin-left: 2px;
}
.main_row_0 .play-btn i.fa-play {
  margin-left: 4px;
}
.main_row_0 .program-list .slick-arrow {
  position: absolute;
  top: -45px;
  right: 0;
  display: block;
  z-index: 50;
  font-size: 1.6rem;
  background: #fff;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
}
.main_row_0 .program-list .slick-prev {
  right: 86px;
}

.main_row_0 .program-list .slick-arrow i {
  color: #818181;
}
.main_row_0 .program-list .slick-arrow:hover i {
  color: var(--mainColor);
}

/* main_row_1 */

.main_row_1 {
  width: 100%;
  max-width: var(--area-1240-width);
  margin: 2vh auto 0;
}
.main_row_1 .monthly-box {
  justify-content: center;
  align-items: center;
}
.main_row_1 .monthly-box .prev,
.main_row_1 .monthly-box .next {
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #818181;
}
.main_row_1 .monthly-box .txt {
  align-items: center;
  padding: 0 3rem;
  line-height: 0.9;
}

.main_row_1 .monthly-box .txt .month {
  font-weight: 800;
  font-size: var(--fz-35);
}
.main_row_1 .mrow-box {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 54);
}

.main_row_1 .mrow-box > div:nth-child(2),
.main_row_1 .mrow-box > div:nth-child(3) {
  width: 50%;
}
.main_row_1 .top-color {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fz-14);
}
.main_row_1 .top-color > div {
  margin-right: 15px;
  vertical-align: middle;
}
.main_row_1 .top-color > div > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.main_row_1 .top-color > div.app-wait > span {
  background: #ff7673;
}
.main_row_1 .top-color > div.app-ing > span {
  background: #3bbcad;
}
.main_row_1 .top-color > div.app-end > span {
  background: #4b4855;
}

#source-calendar {
  width: 50%;
  height: 100%;
  padding-top: 2rem;
  box-sizing: border-box;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: #ff4d4d;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: #2475bf;
  text-decoration: none;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  min-height: 1em;
}

.fc-col-header-cell {
  padding: 5px 0 !important;
}

.fc .fc-daygrid-day-number {
  padding: 0 !important;
}
.fc .fc-daygrid-day-top > a {
  padding: 10px;
}

/* 달력 크기 조정 */
.fc .fc-daygrid-day-bottom {
  display: none !important;
}
.fc-daygrid-dot-event {
  padding: 0px !important;
}
.fc .fc-daygrid-event {
  margin-top: 0px !important;
}
.fc .fc-daygrid-day-frame {
  padding: 1rem !important;
  display: flex !important;
  flex-direction: column !important;
}
.fc-daygrid-event-dot {
  margin: 0 0px !important;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  margin-top: 1rem !important;
  min-height: 2em !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 0px !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-right: 0px !important;
}
.fc-scrollgrid-sync-table,
.fc-daygrid-body {
  height: 100% !important;
}
.fc-daygrid-day-events {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

/* top마진제거 */
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0em !important;
}
/* today버튼 제거 */
.fc .fc-button-primary {
  display: none;
}

/* 타이틀 제거 */
.fc .fc-toolbar-title {
  display: none;
}
/* next/prev 버튼 제거 */
.fc .fc-button-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  display: none;
}
/* 프로그램 리스트 */
.calendar_list {
  height: calc(100% - 2rem);
  margin-top: 2rem;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  box-sizing: border-box;
  background: #f9f9f9;
}
.calendar_list .list-single {
  padding: 3rem 2rem;
  color: #272136;
  border-bottom: 1px solid #ddd;
  font-size: var(--fz-14);
  background: #f9f9f9;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  cursor: pointer;
}
.calendar_list .list-single:hover {
  background: #fcf8e3;
}

.calendar_list .list-single .left-area {
  letter-spacing: -0.2px;
  width: 60%;
}
.calendar_list .list-single .left-area .date-1 {
  margin-bottom: 5px;
}
.calendar_list .list-single .left-area > div:last-child {
  margin-bottom: 0px;
}
.calendar_list .list-single .left-area .tit {
  font-weight: 800;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: var(--fz-18);
}
.calendar_list .list-single .left-area .date-1 span {
  color: #2475bf;
}
.calendar_list .list-single .right-area {
  width: 40%;
  align-items: end;
  justify-content: space-between;
}
.calendar_list .list-single .state {
  width: 65px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  margin-bottom: 1.3rem;
}
.calendar_list .list-single .app-wait {
  background: #ff7673;
}

.calendar_list .list-single .app-ing {
  background: #3bbcad;
}
.calendar_list .list-single .app-end {
  background: #4b4855;
}

.calendar_list .list-single .right-area .period {
  text-align: right;
}

.calendar_list .list-single .right-area .period .date {
  width: 80%;
  word-break: keep-all;
}
/* main_row_2 */
.main_row_2 {
  position: relative;
  background-image: url(../images/main/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5vh;
  height: 58vh;
  height: calc(var(--vh, 1vh) * 58);
}
.vector-1 {
  position: absolute;
  bottom: 20%;
  right: 6%;
  animation: rotate 25s linear infinite;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vector-2 {
  position: absolute;
  top: 0%;
  left: -10%;
  width: 45vw;
  height: 25vh;
  animation: front 5s linear infinite;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes front {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(16%);
  }

  100% {
    transform: translateY(0);
  }
}

.main_row_2 .quick-menu-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main_row_2 .quick-menu-box ul {
  gap: 2.7vw;
}

.main_row_2 .quick-menu-box li div:nth-child(2) {
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}

.main_row_2 .quick-menu-box li a {
  width: 90px;
  height: 90px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid transparent;
  padding: 10px;
  border-radius: 10px;
}

.main_row_2 .quick-menu-box li a:hover {
  background: #fff;
  border: 3px solid var(--mainColor);
}

.main_row_2 .quick-menu-box li .icon {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main_row_2 .quick-menu-box li .icon img {
  height: 50px;
}

.main_row_2 .quick-menu-box li .icon span {
  font-weight: 700;
  color: #4b4855;
  font-size: var(--fz-18);
}

/* main_row_3 */
.main_row_3 {
  position: relative;
  max-width: var(--area-1240-width);
  margin: 10px auto 0;
  padding-bottom: 10vh;
}

.main_row_3 .left-box .main-tit-box {
  justify-content: start !important;
  align-items: start !important;
  margin-bottom: 5vh;
}
.main_row_3 .right-box .main-tit-box {
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 5vh;
}
.main_row_3 .main-sub-tit {
  text-align: left !important;
}
.main_row_3 .main-tit-box .en-tit {
  color: #2475bf;
  font-size: var(--fz-18);
  display: inline-block;
  margin-bottom: 1.5rem !important;
  letter-spacing: -0.5px;
}
.main_row_3 .science-box {
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}
.main_row_3 .science-box > .left-box {
  width: 20%;
}

.main_row_3 .science-box .item p {
  width: 100%;
  font-weight: 500;
  padding: 1.5rem 0 0;
}
.main_row_3 .science-box .item p:first-child {
  font-size: var(--fz-18);
  font-weight: 700;
}

.main_row_3 .science-box .item p:last-child {
  padding: 1rem 0 1rem;
}

.main_row_3 .science-box .item:hover p {
  text-decoration: underline;
}

.main_row_3 .science-box .item .img-box {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_row_3 .science-box .left-box .item .img-box::after {
  content: "";
  display: block;
  padding-top: calc(6 / 4 * 100%);
}
.main_row_3 .science-box .right-box .item .img-box {
  border-radius: 10px;
}
.main_row_3 .science-box .right-box .item .img-box::after {
  content: "";
  display: block;
  padding-top: calc(3 / 4 * 100%);
}

.main_row_3 .science-box .img-box img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.main_row_3 .science-box > .right-box {
  width: 80%;
  justify-content: space-between;
}

.main_row_3 .science-box > .right-box .p-slide-box {
  position: relative;
}
.main_row_3 .science-box .right-box .p-slide-box .item {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}
.main_row_3 .play-btn:hover i {
  color: var(--mainColor);
}

.main_row_3 .gallery-box .slick-list {
  margin: 0 -10px;
}

.main_row_3 .gallery-box .slick-slide {
  margin: 0 10px;
}
.main_row_3 .gallery-box .slick-arrow {
  position: absolute;
  top: -45px;
  right: 0;
  display: block;
  z-index: 50;
  font-size: 1.6rem;
  background: #fff;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
}
.main_row_3 .gallery-box .slick-prev {
  right: 43px;
}

.main_row_3 .gallery-box .slick-arrow i {
  color: #818181;
}
.main_row_3 .gallery-box .slick-arrow:hover i {
  color: var(--mainColor);
}

/* main_row_4 */
.main_row_4 {
  position: relative;
  height: 100%;
  max-width: var(--area-1240-width);
  padding: 4vh 0 7vh;
  margin: 0 auto;
}
.main_row_4::after {
  content: "";
  position: absolute;
  bottom: 7vh;
  left: -243px;
  background-image: url(../images/main/vector_3.png);
  background-position: 100% 100%;
  width: 300px;
  height: 329px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  animation: front 10s linear infinite;
}
.main_row_4 .mrow-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_row_4 .mrow-box .main-tit-box {
  width: 20%;
  align-items: start !important;
  justify-content: start !important;
}

.main_row_4 .mrow-box .notice-box {
  width: 80%;
}

/* 테이블 */
.table-layout {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-top: 2px solid var(--mainColor);
}

.table-layout td {
  border-bottom: 1px solid rgba(215, 215, 215, 0.541);
  background: rgba(255, 255, 255, 0.5);
  padding-right: 1rem;
}

.table-layout td .font-left {
  text-align: left;
  text-indent: 20px;
}

.table-layout .table-list a {
  width: 100%;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
}

.table-layout .table-th .table-tit {
  font-family: "Recipekorea", sans-serif;
  text-align: center;
  padding: 15px;
  width: calc(90% - 30px);
}
.table-layout .table-th a {
  display: inline-block;
  width: 10%;
}
.table-layout .table-tit {
  font-size: var(--fz-18);
  font-weight: 700;
  color: #272136;
  padding-left: 1rem;
}
/* ****************** 반응형 시작  ********************** */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
@media screen and (max-width: 1440px) {
  .top-banner .banner .item .txt-box {
    width: 70%;
  }
  .top-banner .banner .slick-dots {
    width: 70%;
  }
  .m-container::before {
    bottom: 5%;
    left: -5%;
    width: 228px;
    height: 332px;
  }

  .main_row_4::after {
    bottom: 335px;
    left: -111px;
    width: 250px;
    height: 329px;
  }
  .vector-1 {
    bottom: 25%;
    right: 2%;
  }
  .vector-2 {
    top: -2%;
    left: -2%;
    width: 28vw;
    height: 22vh;
  }
}
@media screen and (max-width: 1280px) {
  .top-banner .banner .item .txt-box {
    left: 10vw;
    transform: translate(5%, -50%);
  }
  .top-banner .banner .slick-dots {
    left: 10vw;
    transform: translate(5%, -50%);
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .m-container > article {
    width: calc(100% - 8vw);
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .vector-2 {
    top: -4%;
    left: 0%;
  }
  .top-banner .banner .slick-prev {
    right: 20%;
  }
  .top-banner .banner .slick-next {
    right: calc(20% - 50px);
  }
  .main-tit-box .main-sub-tit {
    font-size: var(--fz-30);
  }
}

@media screen and (max-width: 885px) {
  .m-container::after {
    width: 32vw;
  }
  .m-container::before {
    bottom: 27%;
    right: -5%;
    left: auto;
    width: 189px;
    animation: front 10s linear infinite;
  }
  .main_row_4::after {
    bottom: 70%;
    left: -70px;
    width: 350px;
    height: 329px;
  }
  .vector-2 {
    top: -8%;
    left: 0%;
  }

  .mobile-view {
    display: block !important;
  }
  .web-view {
    display: none !important;
  }

  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-35);
  }
  .main_row_1 .mrow-box {
    flex-direction: column;
    height: 100%;
  }

  .main_row_1 .mrow-box > div:nth-child(2),
  .main_row_1 .mrow-box > div:nth-child(3) {
    width: 100%;
    margin-top: 70px;
  }
  .main_row_1 #source-calendar {
    width: 100%;
    height: 100%;
  }
  .main_row_1 .calendar_list {
    height: 400px;
    margin-top: 0rem;
  }

  .main_row_2 .quick-menu-box ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_row_2 .quick-menu-box li {
    width: 28%;
    gap: 0vw;
    box-sizing: border-box;
    text-align: center;
  }
  .main_row_3 .science-box {
    flex-direction: column !important;
    gap: 6vh;
  }
  .main_row_3 .science-box > div {
    width: 100% !important;
  }
  .main_row_3 .left-box .main-tit-box {
    justify-content: center !important;
    align-items: center !important;
  }
  .main_row_3 .science-box > .left-box {
    text-align: center;
  }
  .main_row_3 .science-box > .left-box a {
    display: inline-block;
    width: 35%;
  }
  .main_row_4 .mrow-box {
    flex-direction: column;
  }
  .main_row_4 .mrow-box > div {
    width: 100%;
  }
  .main_row_4 .mrow-box .main-tit-box {
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: var(--gapHeight);
  }
  .main_row_4 .mrow-box .notice-box {
    width: 100%;
  }
  .main_row_4 .table-layout .table-th a {
    display: none;
  }
  .table-layout .table-th .table-tit {
    width: 100%;
    font-family: "Pretendard", sans-serif !important;
    font-weight: 700;
  }
  .main_row_4 .table-layout th {
    border-bottom: 1px solid #d7d7d7;
    border-top: 2px solid var(--mainColor);
  }
}
@media screen and (max-width: 767px) {
  .top-banner .banner .slick-dots {
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  .top-banner .banner .slick-arrow {
    display: none !important;
  }
}
@media screen and (max-width: 480px) {
  .shortcut-btn {
    display: none;
  }
  .m-container::after {
    display: none;
  }
  .m-container::before {
    bottom: 12%;
  }

  .main_row_4::after {
    bottom: 86%;
    left: 27px;
    width: 243px;
  }
  .vector-2 {
    width: 52vw;
    height: 14vh;
  }

  .top-banner .banner .item {
    position: relative;
    background-position: 70% 100%;
  }

  .top-banner .banner .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39, 39, 39, 0.35);
    z-index: -1;
  }
  .top-banner .banner .item .txt-box {
    width: 80%;
  }
  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-26);
  }

  .main_row_1 .list-single .right-area .state {
    width: 55px;
    height: 25px;
    line-height: 25px;
  }

  .main_row_1 .list-single .right-area .period .txt {
    display: inline-block;
    width: 100%;
  }

  .main_row_1 #source-calendar {
    display: none;
  }
  .main_row_1 .top-color {
    display: none;
  }
  .main_row_1 .calendar_list {
    margin-top: 50px;
  }
  .main_row_1 .list-single {
    font-size: var(--fz-12);
  }
  .main_row_1 .list-single .left-area .tit {
    font-size: var(--fz-16);
  }

  .main_row_2 .quick-menu-box li .icon span {
    font-size: var(--fz-16);
  }
  .main_row_2 {
    margin-top: 80px;
    height: 500px !important;
  }
  .main_row_2 .quick-menu-box li a {
    width: 60px;
    height: 60px;
  }
  .main_row_2 .quick-menu-box li .icon img {
    height: 38px;
  }
  .main_row_3 {
    margin-top: 10px;
  }
  .main_row_3 .science-box > .left-box a {
    display: inline-block;
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .top-banner .banner .item .txt-box {
    left: 5vw;
    transform: translate(5%, -50%);
    width: 80%;
  }
  .main_row_2 {
    height: 67vh;
    height: calc(var(--vh, 1vh) * 67);
  }
  .main_row_2 .quick-menu-box li {
    width: 33%;
  }
}
@media screen and (max-width: 320px) {
  .m-container::before {
    bottom: 10%;
    width: 144px;
  }
  .left-side-bar {
    right: -70vw;
    width: 70vw;
  }
  .top-banner .banner .item .txt-box {
    padding: 2vh 3vw;
  }
  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-20);
  }
  .main_row_1 .list-single {
    justify-content: space-between;
    flex-direction: column;
  }
  .main_row_1 .list-single .left-area {
    text-align: center;
  }
  .main_row_1 .list-single .right-area {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .main_row_1 .list-single .left-area {
    width: 100%;
  }
  .main_row_1 .list-single .right-area .period {
    text-align: center;
  }
  .main_row_2 .quick-menu-box li a {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 280px) {
  .main_row_2 .quick-menu-box li {
    width: 40%;
  }
}
