@charset "UTF-8";
/* *******************************************************
 * 파일이름 : main.css
 * 설명 : 메인 css
 * 업데이트 : 2023-10-06
 ******************************************************** */
/* ****************** 공통CSS  ********************** */
@import url(../css/common/layout.css);
@import url(../css/common/fonts.css);
@import url(../css/common/reset.css);
.mobile-view {
  display: none !important;
}

.web-view {
  display: block !important;
}

/* ****************** Main 시작  ********************** */
.main-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.m-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 7vh 0;
  padding: var(--gapHeight) 0;
}

.m-container > article {
  width: calc(100% - 4vw);
  padding: 0 2vw;
}

/* ***** top-banner  ***** */
.top-banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.top-banner .page-num {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 99;
}
.top-banner .banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.top-banner .banner .item {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 46);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.top-banner .banner .item .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--area-1240-width);
  z-index: 10;
}
.top-banner .banner .item .txt-box p {
  font-family: "Recipekorea", sans-serif;
  color: #fff;
  line-height: 1.3;
  word-break: keep-all;
  text-shadow: 1px 1px 2px var(--grayColor);
  font-size: var(--fz-40);
}
.top-banner .banner .item .txt-box span.sub-txt {
  display: block;
  margin-top: 10px;
  color: #fff;
}
.top-banner .banner .item .txt-box span.sub-txt i {
  display: inline-block;
  margin-right: 20px;
  width: 10px;
}
.top-banner .banner .slick-arrow {
  position: absolute;
  top: auto;
  bottom: 3vh;
  bottom: calc(var(--vh, 1vh) * 3);
  display: block;
  z-index: 99;
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.top-banner .banner .slick-arrow i {
  color: #818181;
}
.top-banner .banner .slick-arrow:hover i {
  color: var(--blackColor);
}
.top-banner .banner .slick-prev {
  right: 26%;
  left: auto;
}
.top-banner .banner .slick-next {
  left: auto;
  right: calc(26% - 50px);
}
.top-banner .banner .slick-dots {
  position: absolute;
  top: auto;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--area-1240-width);
}
.top-banner .banner .slick-dots li {
  display: inline-block;
}
.top-banner .banner .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
  color: transparent;
}
.top-banner .banner .slick-dots li.slick-active button {
  background: #ffc000;
}
/* ***** m-container  ***** */
.main-sub-tit {
  margin: 0 0 var(--titHeight);
  font-family: "Recipekorea", sans-serif;
  text-align: center;
  font-size: var(--fz-20);
}

/* main_row_1 */

.main_row_1 {
  width: 100%;
  max-width: var(--area-1240-width);
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: var(--gapHeight);
}
.main_row_1 .mrow-box {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 54);
  gap: 30px;
}

.main_row_1 .mrow-box > div:nth-child(2),
.main_row_1 .mrow-box > div:nth-child(3) {
  width: 50%;
}

.top-color > div {
  margin-right: 15px;
  vertical-align: middle;
}
.top-color > div > span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.top-color > div.app-wait > span {
  background: #ff7673;
}
.top-color > div.app-ing > span {
  background: #3bbcad;
}
.top-color > div.app-end > span {
  background: #4b4855;
}

#source-calendar {
  width: 50%;
  height: 100%;
  border-top: 2px solid var(--mainColor) !important;
  padding-top: 2rem;
}

.top-color {
  position: absolute;
  top: 25px;
  left: 150px;
  font-size: var(--fz-14);
}
.fc .fc-toolbar-title {
  margin: 0;
  font-weight: 400;
  color: #272136;
  font-family: "Recipekorea", sans-serif;
  font-size: var(--fz-);
}
/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: #ff4d4d;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: #2475bf;
  text-decoration: none;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px;
}

.fc .fc-button {
  border: 1px solid transparent !important;
  background: transparent !important;
  color: #000 !important;
  padding: 0em 0em !important;
}
.fc .fc-button:hover {
  color: var(--mainColor) !important;
}
.fc .fc-button .fc-icon {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
}

.fc-today-button {
  display: none !important;
}

.fc-prev-button {
  margin-right: 10px !important;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  min-height: 1em;
}
.fc .fc-button:hover {
  color: #00b0f0;
}
.fc-col-header-cell {
  padding: 5px 0 !important;
}
.fc .fc-button:disabled {
  opacity: 1 !important;
}
.fc .fc-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0) !important;
}
.fc .fc-daygrid-day-number {
  padding: 0 !important;
}
.fc .fc-daygrid-day-top > a {
  padding: 10px;
}
.calendar_list {
  border-top: 2px solid var(--mainColor);
  height: 100%;
  box-shadow: 0 6px 4px rgb(215, 215, 215, 0.7);
}
.list-single {
  padding: 1.5rem 2rem;
  color: #272136;
  border-bottom: 1px solid #d7d7d7;
  font-size: var(--fz-14);
}
.list-single:nth-child(2n-1) {
  background: rgb(239, 239, 239, 0.5);
}
.list-single:last-child {
  border-bottom: 0px;
}
.list-single .left-area {
  letter-spacing: -0.2px;
  width: 60%;
}
.list-single .left-area > div {
  margin-bottom: 5px;
}
.list-single .left-area > div:last-child {
  margin-bottom: 0px;
}
.list-single .left-area .tit {
  font-weight: 800;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: var(--fz-18);
}
.list-single .left-area .date-1 span {
  color: #2475bf;
}
.list-single .right-area {
  width: 40%;
  align-items: end;
  justify-content: space-between;
}
.list-single .right-area .state {
  width: 80px;
  height: 30px;
  border-radius: 18px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  margin-bottom: 1.5rem;
}
.list-single .app-wait {
  background: #ff7673;
}

.list-single .app-ing {
  background: #3bbcad;
}
.list-single .app-end {
  background: #4b4855;
}

.list-single .right-area .period {
  text-align: right;
}

.list-single .right-area .period .date {
  width: 80%;
  word-break: keep-all;
}
/* main_row_2 */
.main_row_2 {
  margin-top: var(--gapHeight);
  background-image: url(../images/main/menu_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(var(--vh, 1vh) * 61);
}
.main_row_2 .quick-menu-box {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main_row_2 .quick-menu-box ul {
  width: 100%;
  justify-content: space-evenly;
}

.main_row_2 .quick-menu-box li {
  display: block;
  align-items: center;
}

.main_row_2 .quick-menu-box li .fx {
  align-items: center;
}

.main_row_2 .quick-menu-box li .fx div:nth-child(2) {
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}

/* main_row_3 */
.main_row_3 {
  max-width: var(--area-1240-width);
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: var(--gapHeight);
  margin-top: var(--gapHeight);
}
.list-single {
  justify-content: space-between;
}
.science-box {
  width: 100%;
}
.science-box .tab-box .head {
  justify-content: center;
}
.science-box .tab-box {
  padding-bottom: 3vh;
}
.science-box .tab-box .head > span {
  position: relative;
  font-family: "Recipekorea", sans-serif;
  display: inline-block;
  margin-right: 20px;
  color: #d7d7d7;
  cursor: pointer;
}

.science-box .tab-box .head > span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 1px;
  height: 100%;
  background: #d7d7d7;
}
.science-box .tab-box .head > span:last-child::after {
  width: 0px;
}

.science-box .tab-box .head > span.active {
  color: #272136;
}

.science-box .content > div {
  display: none;
  border-top: 0;
}

.science-box .content > div.active {
  display: block;
}
.content > div > .cont-list {
  justify-content: space-between;
}
.content > div > .cont-list > a {
  display: inline-block;
  width: calc(100% / 3 - 20px);
}

.content > div > .cont-list .item p {
  width: 100%;
  padding: 2rem 0 1rem;
  font-weight: 500;
}

.content > div > .cont-list .item:hover p {
  text-decoration: underline;
}

.content > div > .cont-list .item .img-box {
  overflow: hidden;
  height: 260px;
  max-height: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content > div > .cont-list .item .img-box::after {
  content: "";
  display: block;
  padding-top: calc(3 / 4 * 100%);
}
.content > div > .cont-list .item .img-box img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* main_row_4 */
.main_row_4 {
  height: 100%;
  max-width: var(--area-1240-width);
  margin: 0 auto;
  margin-top: var(--gapHeight);
}
.main_row_4 .mrow-box {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.main_row_4 .mrow-box > div {
  width: 50%;
}

/* 테이블 */
.table-layout {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.main_row_4 .table-layout th {
  border-bottom: 2px solid var(--mainColor);
}
.table-layout td {
  border-bottom: 1px solid #efefef;
}
.table-layout tr:last-child td {
  border-bottom: 1px solid #d7d7d7;
}
.table-layout td .font-left {
  text-align: left;
  text-indent: 20px;
}

.table-layout .table-list a {
  width: calc(100% - 30px);
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  gap: 20px;
}

.table-layout .table-th {
  justify-content: space-between;
  align-items: center;
}
.table-layout .table-th .table-tit {
  font-family: "Recipekorea", sans-serif;
  text-align: center;
  padding: 15px;
  width: calc(90% - 30px);
}
.table-layout .table-th a {
  display: inline-block;
  width: 10%;
}

/* ****************** 반응형 시작  ********************** */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
/* Wide Screen Desktop (해상도 1440px) */
@media screen and (max-width: 1440px) {
  .top-banner .banner .item .txt-box {
    width: 70%;
  }
  .top-banner .banner .slick-dots {
    width: 70%;
  }
}
/* Desktop (해상도 1280px) */
@media screen and (max-width: 1280px) {
  .top-banner .banner .item .txt-box {
    left: 10vw;
    transform: translate(5%, -50%);
  }
  .top-banner .banner .slick-dots {
    left: 10vw;
    transform: translate(5%, -50%);
    width: 70%;
  }

  .main_row_2 {
    background-size: contain;
    height: 50vh;
  }
}
/* PC (해상도 800px ~ 1024px)*/
@media screen and (max-width: 1024px) {
  .main_row_2 {
    background-size: contain;
    height: 40vh;
  }
  .main_row_1 .mrow-box {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 49);
    gap: 30px;
  }
  .calendar_list {
    height: 48vh;
  }
  .top-banner .banner .slick-prev {
    right: 20%;
  }
  .top-banner .banner .slick-next {
    right: calc(20% - 50px);
  }
}
/* 태블릿, 모바일 가로 (해상도 768px ~ 830px)*/
@media screen and (max-width: 885px) {
  .mobile-view {
    display: block !important;
  }
  .web-view {
    display: none !important;
  }

  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-35);
  }
  .main_row_1 .mrow-box {
    flex-direction: column;
    height: 100%;
  }
  .main_row_1 .mrow-box > div:nth-child(2),
  .main_row_1 .mrow-box > div:nth-child(3) {
    width: 100%;
  }
  .main_row_1 #source-calendar {
    width: 100%;
    height: 100%;
  }
  .main_row_1 .calendar_list {
    height: 45vh;
  }
  .main_row_2 {
    background-image: url(../images/main/menu_bg_885.png);
    height: 46vh;
  }
  .main_row_2 .quick-menu-box ul {
    width: 70%;
    height: 67%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .main_row_2 .quick-menu-box ul li {
    width: 33.333%;
  }
  .main_row_2 .quick-menu-box li .fx div:nth-child(2) {
    margin-top: 6px;
  }
  .main_row_2 .quick-menu-box li .fx div {
    text-align: center;
  }
  .main_row_2 .quick-menu-box li .fx div img {
    width: 70%;
  }
  .main_row_4 .mrow-box {
    flex-direction: column;
  }
  .main_row_4 .mrow-box > div {
    width: 100%;
  }
  .main_row_4 .table-layout .table-th a {
    display: none;
  }
  .table-layout .table-th .table-tit {
    width: 100%;
    font-family: "Pretendard", sans-serif !important;
    font-weight: 700;
  }
  .main_row_4 .table-layout th {
    border-bottom: 1px solid #d7d7d7;
    border-top: 2px solid var(--mainColor);
  }
}
/* 테블릿 세로 (해상도 600px ~ 767px)*/
@media screen and (max-width: 767px) {
  .top-banner .banner .slick-dots {
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  .top-banner .banner .slick-arrow {
    display: none !important;
  }
}
/* 모바일 가로, 모바일 세로 (해상도 320px ~ 480px)*/
@media screen and (max-width: 480px) {
  .shortcut-btn {
    display: none;
  }
  .m-container > article {
    width: calc(100% - 8vw);
    padding: 0 4vw;
  }
  .top-banner .banner .item {
    position: relative;
    background-position: 70% 100%;
  }

  .top-banner .banner .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39, 39, 39, 0.35);
    z-index: -1;
  }
  .top-banner .banner .item .txt-box {
    width: 80%;
  }
  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-26);
  }
  .m-container {
    padding: 4vh 0;
    padding: calc(var(--vh, 1vh) * 4) 0;
  }

  .main_row_1 .list-single .right-area .state {
    width: 55px;
    height: 25px;
    line-height: 25px;
  }

  .main_row_1 .list-single .right-area .period .txt {
    display: inline-block;
    width: 100%;
  }

  .main_row_2 {
    background-image: url(../images/main/menu_bg_480.png);
    height: 46vh;
  }
  .main_row_1 #source-calendar {
    display: none;
  }
  .main_row_1 .top-color {
    display: none;
  }
  .main_row_1 .list-single {
    font-size: var(--fz-12);
  }
  .main_row_1 .list-single .left-area .tit {
    font-size: var(--fz-16);
  }
  .main_row_2 .quick-menu-box ul {
    width: 80%;
  }
  .main_row_3 {
    margin-top: 10px;
  }
  .science-box .tab-box .head {
    border: 1px solid #d7d7d7;
  }
  .science-box .tab-box .head > span {
    position: relative;
    width: 33.333%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Pretendard", sans-serif;
    display: inline-block;
    margin-right: 0px;
    color: #d7d7d7;
    cursor: pointer;
    border-right: 1px solid #d7d7d7;
    padding: 1.2rem 0 0.8rem;
    font-weight: 600;
  }
  .science-box .tab-box .head > span.active {
    color: #fff;
    background: var(--mainColor);
  }
  .science-box .tab-box .head > span:last-child {
    border-right: 0px;
  }
  .science-box .tab-box .head > span::after {
    width: 0;
  }
  .content > div > .cont-list > a:not(:first-child) {
    display: none;
  }
  .content > div > .cont-list > a {
    width: calc(100%);
  }
}

@media screen and (max-width: 390px) {
  .main_row_2 {
    height: 38vh;
  }
}

/* 아이폰(해상도 375px 이하)*/
@media screen and (max-width: 375px) {
  .top-banner .banner .item .txt-box {
    left: 5vw;
    transform: translate(5%, -50%);
    width: 80%;
  }
}
/* 갤럭시 fold(해상도 280px 이하)*/
@media screen and (max-width: 320px) {
  .left-side-bar {
    right: -70vw;
    width: 70vw;
  }
  .top-banner .banner .item .txt-box {
    padding: 2vh 3vw;
  }
  .top-banner .banner .item .txt-box p {
    font-size: var(--fz-20);
  }
  .main_row_1 .list-single {
    justify-content: space-between;
    flex-direction: column;
  }
  .main_row_1 .list-single .left-area {
    text-align: center;
  }
  .main_row_1 .list-single .right-area {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .main_row_1 .list-single .left-area {
    width: 100%;
  }
  .main_row_1 .list-single .right-area .period {
    text-align: center;
  }
  .main_row_2 {
    background-size: cover;
    height: 36vh;
  }
}
