@charset "UTF-8";
/* *******************************************************
 * 파일이름 : sub.css
 * 설명 : 전체 서브페이지 css
 * 업데이트 : 2023-08-16
 ******************************************************** */
/* ****************** Sub 공통CSS  ********************** */
@import url(../css/common/layout.css);
@import url(../css/common/fonts.css);
@import url(../css/common/reset.css);
.mobile-view {
  display: none !important;
}

.web-view {
  display: block !important;
}

/* ***** sub-header  ***** */
.sub-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background: var(--mainColor);
}
.sub-header .title {
  width: 100%;
  height: 70px;
  color: white;
  justify-content: start;
  align-items: center;
}
.sub-header .title h1 {
  display: block;
  margin-left: 3vw;
}

@media screen and (max-width: 480px) {
  .sub-header {
    height: 60px;
  }
  .sub-header .title {
    height: 60px;
    justify-content: center;
  }
  .sub-header .title h1 {
    display: block;
    margin-left: 0vw;
  }
}
.s-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: var(--headerHeight);
  padding-bottom: 2vh;
}
.s-container .cont {
  width: 100%;
  height: 100%;
  max-width: var(--area-1240-width);
  margin: 5vh auto;
  margin: calc(var(--vh, 1vh) * 5) auto;
}

@media screen and (max-width: 1280px) {
  .s-container .cont {
    width: calc(100% - 5vw);
    padding: 0 2.5vw;
  }
}
@media screen and (max-width: 480px) {
  .s-container .cont {
    width: calc(100% - 8vw);
    padding: 0 4vw;
    margin: 3vh auto;
  }
}
.line-tit {
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2vh;
  margin-top: calc(var(--vh, 1vh) * 2);
}
.line-tit h2 {
  font-family: "recipe", "sanserif";
  font-size: 2.5rem;
}

.s-btn.join {
  padding: 0 25px;
  background: var(--mainColor);
  color: #fff;
  font-size: var(--w-fz10);
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 3px;
  margin-left: 1rem;
}

.s-btn.main {
  padding: 0 25px;
  background: #fff;
  color: var(--blackColor);
  font-size: var(--w-fz10);
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 3px;
  margin-right: 1rem;
  border: 1px solid #d7d7d7;
}

/* ****************** Sub 시작  ********************** */
/* **********************************
 * 설명 : sub_1_프로그램상세.html
 ************************************ */
.poster-area {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 615px;
  margin-top: 40px;
  background-image: url(../images/sub/poster_box.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.poster-area .p-box {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.poster-area .p-box .poter-img {
  height: 100%;
}
.poster-area .p-box .poter-img img {
  height: 100%;
}
.poster-area .p-box .poster-txt {
  width: 65%;
  height: 100%;
  justify-content: space-between;
}
.poster-area .p-box .poster-txt .top-area {
  width: 100%;
  height: auto;
  padding-bottom: 1vh;
  justify-content: space-between;
  align-items: center;
}
.poster-area .p-box .poster-txt .top-area .title {
  position: relative;
  width: 56.5vw;
  font-size: var(--w-fz40);
  margin-top: 3vh;
  font-weight: 500;
  font-family: "recipe", Sans-serif;
  letter-spacing: -1px;
}
.poster-area .p-box .poster-txt .top-area .title .status {
  font-size: var(--w-fz5);
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  color: #fff;
  background: #3bbcad;
  border-radius: 18px;
  margin-left: 1.3rem;
  display: inline-block;
}
.poster-area .p-box .poster-txt .top-area .title::before {
  content: attr(data-before-title);
  position: absolute;
  top: -30px;
  font-family: "Pretendard", Sans-serif;
  font-size: var(--w-fz10);
  letter-spacing: -0.3px;
  font-weight: 400;
  color: var(--grayColor);
}
.poster-area .p-box .poster-txt .top-area .join-btn span {
  position: relative;
  width: 140px;
  height: 40px;
  border-radius: 25px;
  line-height: 40px;
  color: var(--blackColor);
  font-size: var(--w-fz10);
  text-indent: 2.5rem;
  display: block;
  text-align: center;
  background: transparent;
  transition: background-color 0.5s 0.05s;
}
.poster-area .p-box .poster-txt .top-area .join-btn span:hover {
  background: var(--mainColor);
  color: #fff;
}
.poster-area .p-box .poster-txt .top-area .join-btn span::before {
  content: "";
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  text-indent: 0rem;
  border-radius: 100%;
  color: #fff;
  background: var(--mainColor);
  transition: background-color 0.5s 0.05s;
  font-weight: 100;
}
@keyframes arrow-act {
  0% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
.poster-area .p-box .poster-txt .top-area .join-btn span::after {
  content: "";
  font-size: 1.6rem;
  position: absolute;
  top: auto;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url(../images/icon/caret_right.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 0rem;
  transition: background-color 0.5s 0.05s;
  animation: arrow-act 1s ease-out infinite;
  font-weight: 100;
}
.poster-area .p-box .poster-txt .top-area .join-btn span:hover:after {
  content: "";
  background: url(../images/icon/caret_right_2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.poster-area .p-box .poster-txt .info-area {
  width: 100%;
  height: auto;
  align-items: center;
  color: #4b4855;
  font-size: var(--w-fz10);
}
.poster-area .p-box .poster-txt .info-area .t-info {
  width: 100%;
  border-top: 2px solid #ced0d5;
  margin-top: 15px;
  text-align: center;
  border-left: 1px solid #ced0d5;
  margin-top: 0px;
  border-top: 1px solid #ced0d5;
}
.poster-area .p-box .poster-txt .info-area .t-info .wait {
  color: red;
}
.poster-area .p-box .poster-txt .info-area .t-info th {
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  padding: 1rem;
  font-size: var(--w-fz10);
  background: #efefef;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.2;
  word-break: keep-all;
}
.poster-area .p-box .poster-txt .info-area .t-info td {
  padding: 1rem;
  font-size: var(--w-fz10);
  background: #fff;
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  vertical-align: middle;
  line-height: 1.2;
  line-height: 1.2;
  word-break: keep-all;
  text-align: left;
}
.poster-area .p-box .poster-txt .info-area .t-info td .dot {
  width: 100%;
  display: inline-block;
}
.poster-area .p-box .poster-txt .info-area .t-info td .question-box {
  position: absolute;
  top: 25px;
  left: 0;
  width: 32vw;
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  color: #818181;
  line-height: 1.6;
  font-size: 1.3rem;
  text-indent: 0px;
  display: none;
  z-index: 1000;
}
.poster-area .p-box .poster-txt .info-area .t-info td .question-hover {
  position: relative;
  display: inline-block;
  text-indent: 0px;
}
.poster-area .p-box .poster-txt .info-area .t-info td .question-hover .fa-circle-question {
  color: #bebebe;
  text-indent: 5px;
}
.poster-area .p-box .poster-txt .info-area .t-info td .question-hover:hover .question-box {
  display: block;
}
.poster-area .p-box .poster-txt .item-area {
  width: 100%;
  height: auto;
  min-height: 10vh;
  min-height: calc(var(--vh, 1vh) * 10);
  align-items: end;
  gap: 10px;
}

.question-box.mobile-view {
  width: calc(100% - 2rem);
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  color: #818181;
  line-height: 1.6;
  font-size: 1.3rem;
  text-indent: 0px;
  display: none;
  margin-top: 1rem;
  word-break: keep-all;
}

.program-area {
  width: 100%;
}
.program-area h3 {
  margin: 50px 0 30px;
  font-size: var(--w-fz20);
  font-family: "recipe", sans-serif;
}
.program-area .t-prog.web-view {
  width: 100%;
  border-top: 2px solid #32afdd;
  margin-top: 15px;
  text-align: center;
  border-left: 1px solid #ced0d5;
}
.program-area .t-prog.web-view th {
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  padding: 2rem;
  font-size: var(--w-fz10);
  background: #efefef;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.2;
}
.program-area .t-prog.web-view td {
  padding: 2rem;
  font-size: var(--w-fz10);
  background: #fff;
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  vertical-align: middle;
  line-height: 1.2;
  line-height: 1.2;
  word-break: keep-all;
}
.program-area .t-prog.mobile-view {
  width: 100%;
  border-top: 2px solid #32afdd;
  margin-top: 15px;
  text-align: center;
  border-left: 1px solid #ced0d5;
}
.program-area .t-prog.mobile-view th {
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  padding: 2rem;
  font-size: var(--w-fz10);
  background: #efefef;
  vertical-align: middle;
  font-weight: 400;
  line-height: 1.2;
}
.program-area .t-prog.mobile-view td {
  padding: 2rem;
  font-size: var(--w-fz10);
  background: #fff;
  border-bottom: 1px solid #ced0d5;
  border-right: 1px solid #ced0d5;
  vertical-align: middle;
  line-height: 1.2;
  line-height: 1.2;
  word-break: keep-all;
}
.program-area .b-poster {
  width: 100%;
}
.program-area .guide {
  border: 1px solid #d7d7d7;
  padding: 1rem 2rem;
  font-size: var(--w-fz10);
}
.program-area .guide div {
  position: relative;
  padding: 1rem 0;
  text-indent: 18px;
}
.program-area .guide div::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffb800;
}
.program-area .guide div b {
  font-weight: 500;
}
.program-area .btn-box {
  margin: 3.5rem 0 0;
  justify-content: center;
}

/* ****************** 반응형 시작  ********************** */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
@media screen and (max-width: 1024px) {
  .poster-area .p-box .poster-txt {
    width: 60%;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list span.dot {
    text-indent: 1vw;
  }
}
@media screen and (max-width: 900px) {
  .poster-area .p-box .poster-txt .info-area {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 830px) {
  .mobile-view {
    display: block !important;
  }
  .web-view {
    display: none !important;
  }
  .line-tit {
    border-bottom: 0px solid #d7d7d7;
    text-align: center;
    display: none;
  }
  .poster-area {
    width: 100%;
    height: 100%;
    min-height: inherit;
    margin-top: 0px;
    background-image: none;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 3.5vh 0;
  }
  .poster-area .p-box {
    position: inherit;
    top: 0%;
    left: 0%;
    transform: inherit;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem;
  }
  .poster-area .p-box .poter-img {
    display: none;
  }
  .poster-area .p-box .poster-txt .top-area {
    padding-bottom: 0vh;
  }
  .poster-area .p-box .poster-txt .top-area .title {
    font-size: var(--w-fz30);
  }
  .poster-area .p-box .poster-txt {
    width: 90%;
    gap: 2rem;
  }
  .poster-area .p-box .poster-txt .question-hover {
    display: none !important;
  }
  .poster-area .p-box .poster-txt .item-area {
    align-items: end;
    justify-content: space-between;
  }
  .poster-area .p-box .poster-txt .item-area {
    width: 100%;
    height: auto;
    min-height: inherit;
    align-items: end;
  }
}
@media screen and (max-width: 598px) {
  .poster-area .p-box .poster-txt .top-area {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .poster-area .p-box .poster-txt .top-area .join-btn span {
    display: none;
  }
  .poster-area .p-box .poster-txt .top-area .title {
    width: 100%;
    margin-top: 0vh;
  }
  .poster-area .p-box .poster-txt .top-area .title::before {
    display: none;
  }
  .poster-area .p-box .poster-txt .info-area {
    font-size: 1.4rem;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list {
    padding: 0.6vh 0;
    padding: calc(var(--vh, 1vh) * 0.6) 0;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list span.dot {
    text-indent: 2vw;
    width: 100%;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list .fl-area {
    flex-flow: wrap;
  }
}
@media screen and (max-width: 480px) {
  .poster-area .p-box .poster-txt .info-area {
    font-size: var(--m-fz10);
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list span {
    width: 100%;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list span.tit {
    width: 160px;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list .r-line {
    margin: 0 4vw;
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list .fl-area {
    width: 100%;
    flex-flow: wrap;
  }
  .poster-area .p-box .poster-txt .item-area {
    justify-content: start;
    flex-flow: wrap;
  }
  .poster-area .p-box .poster-txt .item-area div {
    width: 29.4117647059%;
  }
  .program-area .guide {
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
  }
  .program-area .guide div {
    text-indent: 12px;
  }
}
@media screen and (max-width: 375px) {
  .poster-area .p-box .poster-txt .top-area .title {
    font-size: var(--m-fz30);
  }
  .poster-area .p-box .poster-txt .info-area .t-info th,
  .poster-area .p-box .poster-txt .info-area .t-info td {
    font-size: var(--w-fz5);
  }
  .poster-area .p-box .poster-txt .info-area .info-list .list span.tit {
    width: 180px;
  }
}
@media screen and (max-width: 320px) {
  .poster-area .p-box .poster-txt .info-area {
    font-size: 1.2rem;
  }
  .program-area .guide {
    font-size: 1.2rem;
  }
  .program-area .guide div {
    text-indent: 0px;
  }
  .s-btn {
    background: #fff;
    font-size: var(--w-fz5) !important;
  }
  .program-area .guide div::before {
    content: "-";
    top: auto;
    transform: translateY(0%);
    left: -7px;
    width: 0px;
    height: 5px;
    border-radius: 50%;
    background: #ffb800;
  }
}
/* **********************************
 * 설명 : sub_2_1_확인모달.html
 ************************************ */
.mdal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: block;
}

.alarm-pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 400px;
  height: 270px;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  color: #000;
  z-index: 200;
  display: none;
  padding: 1rem;
}
.alarm-pop .m-cont {
  height: 100%;
  justify-content: space-evenly;
}
.alarm-pop .m-cont .top {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.alarm-pop .m-cont .top p {
  display: inline-block;
  line-height: 1;
  padding-top: 12px;
  font-size: 16px;
  color: #3e3e3e;
}
.alarm-pop .m-cont .top p .col {
  color: var(--mainColor);
  font-weight: 500;
  line-height: 1.5;
}
.alarm-pop .m-cont .btn-box {
  justify-content: center;
}

.alarm-pop.on {
  display: block;
}

/* **********************************
 * 설명 : sub_2_2_확인모달.html
 ************************************ */
.alarm-pop-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 450px;
  height: 120px;
  background: #4a4a4a;
  overflow: hidden;
  color: #fff;
  z-index: 200;
  display: none;
  font-size: 1.6rem;
  padding: 2.5rem 2.5rem 2rem 2.5rem;
}
.alarm-pop-2 .m-cont {
  height: 100%;
  justify-content: space-between;
}
.alarm-pop-2 .m-cont .txt {
  line-height: 1.5;
  font-weight: 300;
}
.alarm-pop-2 .m-cont .btn-area {
  justify-content: end;
}
.alarm-pop-2 .m-cont .btn-area button {
  padding: 0 20px;
  background: #006cbe;
  color: #fff;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 3px;
  width: auto;
  height: 35px;
  line-height: 35px;
}

.alarm-pop-2.on {
  display: block;
}

/* **********************************
 * 설명 : sub_2_3_우편번호찾기.html
 ************************************ */
.address-pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 35vw;
  height: 35vh;
  height: calc(var(--vh, 1vh) * 35);
  background: #fff;
  overflow: hidden;
  z-index: 200;
  display: none;
  font-size: 1.6rem;
  border: 1px solid #dadada;
}
.address-pop .top-area {
  background: #666666;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.address-pop .top-area .tit {
  padding-left: 2rem;
  color: #fff;
  font-size: var(--w-fz10);
}
.address-pop .top-area .close-btn {
  width: 45px;
  height: 100%;
  background: #858585;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.address-pop .top-area .close-btn i {
  font-size: 3rem;
  color: #fff;
}
.address-pop .m-cont {
  width: calc(100% - 3vw);
  height: 100%;
  padding: 1.5vw;
}
.address-pop .m-cont .box-list {
  width: 100%;
  margin-bottom: 2vh;
  margin-bottom: calc(var(--vh, 1vh) * 2);
  border: 1px solid #dadada;
  align-items: center;
}
.address-pop .m-cont .box-list .tit {
  width: 20%;
  height: 100%;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.address-pop .m-cont .box-list button {
  padding: 0 20px;
  background: #666666;
  color: #fff;
  font-size: var(--w-fz10);
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 3px;
  margin-top: 0;
  margin-left: 0.8vw;
  height: 38px;
  line-height: 38px;
  border-radius: 0px;
  width: 90px;
  border: 1px solid #626262;
}
.address-pop .m-cont .box-list.num {
  justify-content: space-between;
}
.address-pop .m-cont .box-list.num .b-write {
  width: 100%;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}
.address-pop .m-cont .box-list.num .b-write input {
  width: 100%;
  height: 38px;
}
.address-pop .m-cont .box-list.addre .b-write {
  margin-bottom: 1vh;
  flex-flow: wrap;
  width: 100%;
  padding: 1vw;
}
.address-pop .m-cont .box-list.addre .b-write .f-box {
  width: 100%;
  margin-bottom: 1vh;
  align-items: center;
}
.address-pop .m-cont .box-list.addre .b-write input {
  width: 100%;
  height: 38px;
}

.address-pop.on {
  display: block;
}

@media screen and (max-width: 1280px) {
  .address-pop {
    width: 48vw;
  }
}
@media screen and (max-width: 830px) {
  .address-pop {
    width: 60vw;
  }
}
@media screen and (max-width: 768px) {
  .address-pop {
    width: 100%;
    height: 100%;
    margin-top: var(--headerHeight);
  }
}
/* *****************************************
 * 설명 : sub_3_프로그램신청_본인인증.html
          sub_8_프로그램신청_완료.html
 ******************************************* */
.write-nav {
  width: 85%;
  margin: 30px auto 0;
  margin-top: 3vh;
  justify-content: space-between;
  align-items: center;
}
.write-nav .step {
  position: relative;
  width: 15vw;
  height: 7.5vh;
  border: 1px solid #d7d7d7;
  background: #efefef;
  border-radius: 40px;
}
.write-nav .step .l-icon {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 55px;
  height: 55px;
  transform: translateY(-50%);
}
.write-nav .step .l-icon .icon {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
}
.write-nav .step .l-icon .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #d7d7d7;
}
.write-nav .step .r-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  width: 65%;
  font-size: 1.6rem;
  text-align: center;
}
.write-nav .step .r-txt span {
  display: block;
  line-height: 25px;
  color: #818181;
}
.write-nav .step .r-txt span.txt {
  font-size: 1.5rem;
}
.write-nav .step-1 {
  border: 1px solid #00b0f0;
  background: #fff !important;
}
.write-nav .step-1 .icon {
  background: #fff3d0 !important;
  border: 1px solid #ffb800 !important;
}
.write-nav .step-1 .icon i {
  color: #ffb800 !important;
}
.write-nav .step-1 .r-txt .col {
  color: #00b0f0;
}

.certified-area {
  width: 100%;
  height: 100%;
  min-height: calc(var(--vh, 1vh) * 50);
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin: 5rem auto 0;
  padding: 3rem 0 0;
  justify-content: space-between;
}
.certified-area .txt-area {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #272136;
}
.certified-area .txt-area .tit {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 2rem;
  word-break: keep-all;
  line-height: 1.5;
}
.certified-area .txt-area .txt {
  font-size: 1.6rem;
  line-height: 1.5;
}
.certified-area .m-box {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.certified-area .m-box .m-icon .icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #fff3d0;
  border-radius: 50%;
}
.certified-area .m-box .m-icon .icon i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: #ffc000;
}
.certified-area .m-box .certified-btn {
  margin: 0 auto;
  text-align: center;
}
.certified-area .m-box .certified-btn a {
  padding: 0 25px;
  background: var(--mainColor);
  color: #fff;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 45px;
  line-height: 45px;
  letter-spacing: -0.04em;
  text-align: center;
  border-radius: 3px;
  display: inline-block !important;
  margin-top: 18px;
}
.certified-area .m-box .s-btn.main {
  margin-right: 0px;
}
.certified-area .b-box {
  border-top: 1px solid #d7d7d7;
  padding-top: 3rem;
}
.certified-area .b-box .inquiry {
  align-items: center;
}
.certified-area .b-box .inquiry .txt {
  margin-left: 3rem;
}
.certified-area .b-box .inquiry .txt p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.certified-area .b-box .inquiry .txt span {
  font-size: 1.4rem;
  display: block;
  line-height: 1.5;
}
.certified-area .b-box .inquiry .call {
  align-items: center;
  margin-left: 5rem;
  margin-top: 10px;
}
.certified-area .b-box .inquiry .call .icon {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dbf5ff;
}
.certified-area .b-box .inquiry .call .icon i {
  font-size: 1.6rem;
  color: #00b0f0;
}
.certified-area .b-box .inquiry .call p {
  font-size: 1.8rem;
  margin-left: 10px;
  color: #4b4855;
}/*# sourceMappingURL=sub.css.map */